@charset "utf-8";

// Global CSS
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.tab-content {
  display: none;

  &.is-active {
    display: block;
  }
} 

// Customized BULMA
$footer-padding: 2rem 0rem 2rem;	

// Import only what you need from Bulma
@import "../node_modules/bulma/bulma.sass";

// Bulma Extensions
@import "../node_modules/bulma-switch/src/sass/index.sass"