{% extends 'layout.html' %}

{% block body %}
{% include 'partials/_nav.html' %}
<main>
    <section class="section">
        <div class="columns is-centered">
            <div class="column is-one-quarter">
                {% include 'partials/_notifications.html' %}
                <form action="{{ url_for('accounts.reset_password_request') }}" method="POST">
                    {{ form.csrf_token }}
                    <div class="field">
                        {{ form.email.label }}
                        <p class="help">Enter your email adress below and we'll send you a link to reset your password
                        </p>
                        <div class="control">
                            {{ form.email(class="input") }}
                        </div>
                        {% if form.email.errors %}
                        <div class="notification is-warning is-light">
                            {% for error in form.email.errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="field">
                        <div class="control">
                            {{ form.submit(class="button is-link is-expanded") }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
{% endblock body %}