{% extends 'layout.html' %}

{% block body %}
{% include 'partials/_nav.html' %}
<main>
    <section class="section">
        <div class="columns is-centered">
            <div class="column is-one-quarter">
                {% include 'partials/_notifications.html' %}
                <form action="{{ url_for('accounts.reset_password', token=token) }}" method="POST">
                    {{ form.csrf_token }}
                    <div class="field">
                        {{ form.password.label }}
                        <p class="help">Your password must contain at least 6 characters</p>
                        <div class="control">
                            {{ form.password(class="input") }}
                        </div>
                        {% if form.password.errors %}
                        <div class="notification is-warning is-light">
                            {% for error in form.password.errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="field">
                        {{ form.confirm.label }}
                        <div class="control">
                            {{ form.confirm(class="input") }}
                        </div>
                        {% if form.confirm.errors %}
                        <div class="notification is-warning is-light">
                            {% for error in form.confirm.errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="field">
                        <div class="control">
                            {{ form.submit(class="button is-link is-expanded") }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
{% endblock body %}