{% extends 'layout.html' %}

{% block body %}
    {% include 'partials/_nav.html' %}
    <main>
        <section class="section">
            <div class="container">
                <h1 class="title">Account Settings</h1>
                <h3 class="subtitle">Manage your profile preferences.</h3>
                <div class="tabs">
                    <ul>
                        <li class="is-active"><a>Profil</a></li>
                        <li><a>Preferences</a></li>
                    </ul>
                </div>
                <div class="tabs-content">
                    <div class="tab-content is-active">
                        <h5 class="is-size-5">Account Details</h5>
                        {% include 'partials/_notifications.html' %}
                        <form action="{{ url_for('accounts.settings') }}" method="POST">
                            {{ form.csrf_token }}
                            <div class="field">
                                {{ form.username.label }}
                                <div class="control">
                                    {{ form.username(class="input") }}
                                </div>
                                <p class="help">This will be displayed on your public notes</p>
                                {% if form.username.errors %}
                                <div class="notification is-warning is-light">
                                    {% for error in form.username.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                            <div class="field">
                                {{ form.email.label }}
                                <div class="control">
                                    {{ form.email(class="input") }}
                                </div>
                                {% if form.email.errors %}
                                <div class="notification is-warning is-light">
                                    {% for error in form.email.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                            <div class="field">
                                {{ form.website.label }}
                                <div class="control">
                                    {{ form.website(class="input") }}
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    {{ form.submit(class="button is-primary") }}
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-content">
                        <p>Preferences</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
    <script>
    $('.tabs').each(function(index) {
        var $tabParent = $(this);
        var $tabs = $tabParent.find('li');
        var $contents = $tabParent.next('.tabs-content').find('.tab-content');

        $tabs.click(function() {
            var curIndex = $(this).index();
            // toggle tabs
            $tabs.removeClass('is-active');
            $tabs.eq(curIndex).addClass('is-active');
            // toggle contents
            $contents.removeClass('is-active');
            $contents.eq(curIndex).addClass('is-active');
        });
    });
    </script>
{% endblock body %}