<header class="hero-head">
    <nav class="navbar is-fixed-top is-light" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <div class="navbar-item">
                    <a href="{{ url_for('index') }}" class="is-size-4 has-text-black">
                        stacknotes
                    </a>
                </div>
            </div>
            <div class="navbar-menu">
                {% if current_user.is_authenticated %}
                <div class="navbar-start">
                    <div class="navbar-item">
                        <form action="{{ url_for('notes.search') }}" method="GET">
                            <div class="field has-addons">
                                <div class="control has-icons-left">
                                    <input class="input" type="search" name="q""
                                        placeholder=" Search notes...">
                                    <span class="icon is-left">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </div>
                                <div class="control">
                                    <a class="button is-primary">
                                        Search
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% endif %}
                <div class="navbar-end">
                    {% if current_user.is_authenticated %}
                    {% if request.endpoint != 'notes.index' %}
                    <div class="navbar-item">
                        <a href="{{ url_for('notes.index') }}" class="button is-primary">My Notes</a>
                    </div>
                    {% endif %}
                    <div class="navbar-item">
                        <a class="button" href="{{ url_for('accounts.signout') }}">Sign Out</a>
                    </div>
                    {% else %}
                    <div class="navbar-item">
                        <a class="button is-text" href="{{ url_for('accounts.signin') }}">Sign In</a>
                    </div>
                    <div class="navbar-item">
                        <a class="button is-rounded is-primary" href="{{ url_for('accounts.signup') }}">Get Started</a>
                    </div>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>