{% extends 'layout.html' %}

{% block body %}
{% include 'partials/_nav.html' %}
<main>
    <section class="section">
        <div class="container">
            {% with messages = get_flashed_messages(category_filter=["success"]) %}
            {% if messages %}
            {% for message in messages %}
            <div class="notification is-primary is-light has-text-centered">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% with errors = get_flashed_messages(category_filter=["error"]) %}
            {% if errors %}
            {% for error in errors %}
            <div class="notification is-warning is-light has-text-centered">
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <h1 class="title is-spaced is-3">Welcome <em>{{ current_user.name }}</em></h1>
            <div class="columns is-mobile is-vcentered">
                <div class="column">
                    <div class="content">
                        <h2 class="subtitle is-5">My Notes</h2>
                    </div>
                </div>
                <div class="column">
                    <div class="content has-text-right">
                        <a class="button is-primary" href="{{ url_for('notes.create') }}">New note</a>
                    </div>
                </div>
            </div>
            <div class="columns is-multiline">
                {% if notes %}
                {% for note in notes %}
                <div class="column is-one-third">
                    <a href="{{ url_for('notes.view', id=note.id) }}">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    {{ note.title }}
                                </p>
                            </header>
                            <div class="card-content">
                                <p>{{ note.content|truncate(280)|markdown }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
                {% endif %}
                <div class="column is-one-third">
                    <a href="{{ url_for('notes.create') }}">
                        <div class="card has-background-light">
                            <div class="card-content has-text-centered">
                                <p class="is-size-1">+</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock body %}