{% extends 'layout.html' %}

{% block body %}
{% include 'partials/_nav.html' %}
<main>
    <section class="section">
        <div class="container">
            <h1 class="title">Your notes for '{{ request.args.get('q') }}'</h1>
            {% if notes %}
            <div class="columns is-multiline">
                {% for note in notes %}
                {% if note.owner_id == current_user.get_id() %}
                <div class="column is-one-third">
                    <a href="{{ url_for('notes.view', id=note.id) }}">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    {{ note.title }}
                                </p>
                            </header>
                            <div class="card-content">
                                <p>{{ note.content|truncate(280)|markdown }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h1 class="title">Other's notes</h1>
            {% if notes %}
            <div class="columns is-multiline">
                {% for note in notes %}
                {% if note.owner_id != current_user.get_id() %}
                <div class="column is-one-third">
                    <a href="{{ url_for('notes.view', id=note.id) }}">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    {{ note.title }}
                                </p>
                            </header>
                            <div class="card-content">
                                <p>{{ note.content|truncate(280)|markdown }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </section>
</main>
{% endblock body %}