{% extends 'layout.html' %}

{% block body %}
{% include 'partials/_nav.html' %}
<main>
    {% if notes %}
    <section class="section">
        <div class="container">
            <h1 class="title">Your notes for '{{ request.args.get('q') }}'</h1>
            <div class="columns is-multiline">
                {% for note in notes %}
                {% if note.owner_id == current_user.get_id() %}
                <div class="column is-one-third">
                    <a href="{{ url_for('notes.view', id=note.id) }}">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    {{ note.title }}
                                </p>
                            </header>
                            <div class="card-content">
                                <p>{{ note.content|truncate(280)|markdown }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h1 class="title">Other's notes</h1>
            <div class="columns is-multiline">
                {% for note in notes %}
                {% if note.owner_id != current_user.get_id() %}
                <div class="column is-one-third">
                    <a href="{{ url_for('notes.view', id=note.id) }}">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    {{ note.title }}
                                </p>
                            </header>
                            <div class="card-content">
                                <p>{{ note.content|truncate(280)|markdown }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    {% else %}
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                    <div class="content has-text-centered">
                        <h1 class="title is-1">Arf..</h1>
                        <h3 class="subtitle is-3">Nothing was found for your search</h3>
                        <figure class="image is-128x128 is-inline-block">
                            <img src="{{ url_for('static', filename='undraw_no_data_qbuo.svg') }}"
                                alt="Nothing was found for your search">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
</main>
{% endblock body %}