{% extends 'layout.html' %}

{% block body %}
{% include 'partials/_nav.html' %}
<main>
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-three-quarters">
                    <div class="level is-mobile">
                        <div class="level-left">
                            <div class="level-item">
                                <div class="content">
                                    <a href="{{ url_for('notes.view', id=note.id) }}" class="button is-light">Back</a>
                                </div>   
                            </div>
                        </div>
                        <div class="level-right">
                            <div class="level-item">
                                <div class="field">
                                    {{ form.privacy(class="switch", form="noteform") }}
                                    {{ form.privacy.label }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <h1 class="title is-3">Edit Note</h1>
                        <p class="is-size-7 has-text-weight-light">Created on
                            {{ note.created_at.strftime('%b %d, %Y, %H:%M:%S') }}</p>
                        <p class="is-size-7 has-text-weight-light">Last updated
                            {{ note.updated_at.strftime('%b %d, %Y, %H:%M:%S') }}</p>
                        <p class="is-size-7 has-text-weight-light">{{ note.visits }} views</p>
                    </div>
                    {% include 'partials/_noteform.html' %}
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock body %}