{% extends 'layout.html' %}

{% block body %}
{% include 'partials/_nav.html' %}
<main>
    <h1>Lorem ipsum dolor sit amet consectetur.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, molestiae blanditiis sunt, aperiam vel itaque at
        unde nulla aliquam architecto, odit deleniti maiores modi odio animi sint tempore aspernatur velit.</p>
    <p>Lorem ipsum dolor sit amet consectetur.</p>
    <a href="#">Get Started</a>
    <a href="#">Find out more</a>
</main>
{% endblock body %}