{% extends 'layout.html' %}

{% block body %}
{% include 'partials/_nav.html' %}
<main>
    <section class="hero is-fullheight-with-navbar">
        <div class="hero-body">
            <div class="container has-text-left">
                <div class="columns">
                    <div class="column is-half">
                        <div class="content">
                            <h1 class="title is-1 is-spaced">Never again forget a good idea</h1>
                            <h2 class="subtitle is-3">Ever spent ages solving a problem, only
                                spend just as much time figuring it out
                                again next time? Yeah, me too...</h2>
                            <p class="is-size-4">Stacknotes has you covered..</p>
                        </div>
                        <div class="buttons are-medium is-left">
                            <a href="{{ url_for('accounts.signup') }}" class="button is-rounded is-primary">Get
                                Started</a>
                            <a href="#find-out-more" class="button is-rounded is-primary is-outlined">Find out more</a>
                        </div>
                    </div>
                    <div class="column is-half">
                        <figure class="image is-5by4">
                            <img src="{{ url_for('static', filename='undraw_publish_article_icso.svg') }}"
                                alt="Landing page illustration">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section has-background-light" id="find-out-more">
        <div class="container has-text-centered">
            <div class="content is-large">
                <h2>What is Stacknotes?</h2>
                <p> Stacknotes was created in spite of wasting so much time searching for trivial
                    things I knew I had done before. I often found myself looking through previous projects or
                    tracking
                    down articles for that code snippet I knew existed. I thought there had to be a better way...
                </p>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container has-text-centered">
            <div class="content is-large">
                <h2>Improve you productivity right now.</h2>
                <p>What are you waiting for? Save time and effort by using Code Atlas.
                </p>
            </div>
            <a href="{{ url_for('accounts.signup') }}" class="button is-rounded is-primary">Get
                Started</a>
        </div>
    </section>
</main>
{% endblock body %}