<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='markdown.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    {{ easymde.css }}
    {{ easymde.js }}
    <title>Stacknotes</title>
</head>

<body class="has-navbar-fixed-top">
    {% block body %}

    {% endblock body %}
    <footer class="footer hero-foot">
        <div class="container">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        </p>Copyright © 2020 stacknotes, All rights reserved</p>
                    </div>
                    <div class="level-item">
                        <a href="#">Privacy Policy</a>
                    </div>
                    <div class="level-item">
                        <a href="#">Terms of Service</a>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <a href="https://bulma.io">
                            <img src="https://bulma.io/images/made-with-bulma.png" alt="Made with Bulma" width="128"
                                height="24">
                        </a>
                    </div>
                    <div class="level-item">
                        <a href="https://github.com/dnymxm/stacknotes">
                            <span class="image is-24x24">
                                <img src="{{ url_for('static', filename='github_logo.svg') }}" alt="github">
                            </span>
                        </a>
                    </div>
                    <div class="level-item">
                        <a href="https://twitter.com/dnymxm">
                            <span class="image is-24x24">
                                <img src="{{ url_for('static', filename='twitter_logo.png') }}" alt="twitter">
                            </span>
                        </a>
                    </div>
                    <div class="level-item">
                        <a href="hhttps://www.malt.fr/profile/maximediony">
                            <span class="image is-24x24">
                                <img src="{{ url_for('static', filename='malt_logo.png') }}" alt="malt">
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>