<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    {{ simplemde.css }}
    {{ simplemde.js }}
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <title>Stacknotes</title>
</head>

<body class="has-navbar-fixed-top">
    {% block body %}

    {% endblock body %}
    <footer class="footer hero-foot">
        <div class="content has-text-centered">
            Copyright © 2020 stacknotes, All rights reserved
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Service</a>
        </div>
    </footer>
</body>

</html>